# Terraform local state and caches (ignore in all directories)
**/.terraform/

# Terraform state
*.tfstate
*.tfstate.backup

# Terraform variables
*.tfvars
*.tfvars.json

# Terraform lockfile (usually keep it tracked)
terraform.lock.hcl

# Crash logs
crash.log

# Environment/secrets
*.env
*.secret

.vscode