# Terraform local state and caches
.terraform/
*.tfstate
*.tfstate.backup

# Terraform variables
*.tfvars
*.tfvars.json

# Terraform lockfile
terraform.lock.hcl

# Crash logs
crash.log

# Environment/secrets
*.env
*.secret
